<h1>Profile Của Mạnh</h1>
<h2>
    <%= tieuDe %>
</h2>
<table>
    <thead>
        <th>#</th>
        <th>Tên Sản Phẩm</th>
        <th>Giá</th>
        <th>Thao Tác</th>
    </thead>

    <tbody>
        <tr>
            <td>1</td>
            <td>Iphone 15 Pro Max</td>
            <td>10000</td>
            <td>
                <Button>Xóa</Button>
                <Button>Edit</Button>
            </td>
        </tr>
    </tbody>
</table>