<%- include('../inc/header')  %>
<p><%= msg  %></p>

<h1>Thêm mới sản phẩm</h1>


<form action="" method="post">
   Tên sản phẩm: <input type="text" name="PassWord" id="PassWord"> <br>
   Giá tiền: <input type="text" name="FullName" id="FullName"> <br>
   <button type="submit">Thêm mới</button>
</form>


<%- include('../inc/footer')  %>